.progress-wrapper
	.timer-progress(style="top: 37%; bottom: auto; left: 25%; font-size: 30px;") {{tiempo_formateado}}

	div(round-progress
		max="tiempomax"
		current="tiempo"
		color="#45ccce"
		bgcolor="#eaeaea"
		radius="70"
		stroke="15"
		semi="false"
		rounded="false"
		clockwise="true"
		responsive="false"
		duration="800"
		animation="easeInOutQuart")