h2.txt-borde-blanco(style="text-align: center; color: blue;") {{ SocketData.config.pregunta.nombre_categ + ' (' + SocketData.config.no_question + ' de ' + SocketData.config.pregunta.catidad_pregs + ')' }}

div(style="font-size: 25pt;")

	md-whiteframe.md-whiteframe-z2.definicion-frame(layout style="padding: 10px; position: relative; background: white; opacity: 0.9")
		span(style="font-weight: bold;") {{SocketData.config.no_question}}.   
		span(ng-bind-html="SocketData.config.pregunta.enunciado")

		div(ng-show="SocketData.config.pregunta.ayuda" ng-click="toggleMostrarAyuda(SocketData.config.pregunta)" ng-class="{'ayuda-preg-showed': SocketData.config.pregunta.mostrar_ayuda, 'ayuda-preg-hidded':!SocketData.config.pregunta.mostrar_ayuda}")
			a(ng-show="!SocketData.config.pregunta.mostrar_ayuda")
				i.fa.fa-anchor
			span(ng-show="SocketData.config.pregunta.mostrar_ayuda")
				| {{SocketData.config.pregunta.ayuda}}



	// Opciones checkbox para seleccionar varios
	md-list(ng-if="SocketData.config.pregunta.tipo_pregunta=='Multiple'")
		md-list-item(ng-repeat="opcion in SocketData.config.pregunta.opciones")
			md-checkbox(ng-model="topping.wanted")
			p(ng-bind-html="opcion.definicion") 
			md-icon.md-secondary.fa.fa-comment(ng-click="" aria-label="Chat")

	

	// Opciones de tipo ICFES
	div.opciones(layout="row" layout-wrap layout-fill ng-if="SocketData.config.pregunta.tipo_pregunta=='Test'" 
		style="padding-bottom: 32px; justify-content: center; opacity: 0.9;")
		
		md-whiteframe.pointer.md-whiteframe-z2.btn(ng-class="{'elegida':opcion.elegida}" 
			ng-if="!opcion.nueva" flex="45" 
			ng-click="elegirOpcion(SocketData.config.pregunta, opcion, $index)" 
			ng-repeat="opcion in SocketData.config.pregunta.opciones"
			style="font-size: 20pt;") 
			
			span(style="font-weight: bold;") {{ indexChar($index) }}. 
			span(ng-bind-html="opcion.definicion") 


br
br
br
br
md-divider
br
br
